{% extends 'sitemaster.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container my-3">
<h1 class="mb-4 ">Admin Dashboard</h1>

<div class="row">
    <div class="col-md-4 py-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total Technologies</h5>
                <p class="card-text fs-1">{{ total_technologies }}</p>
                <a href="{% url 'admin_manage_technologies' %}" class="btn btn-navbar-purple">Manage Technologies</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 py-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total Test Schedules</h5>
                <p class="card-text fs-1">{{ total_test_schedules }}</p>
                <a href="{% url 'admin_manage_tests' %}" class="btn btn-navbar-purple">Manage Schedules</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 py-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Active Tests</h5>
                <p class="card-text fs-1">{{ active_test_schedules }}</p>
                <a href="{% url 'admin_manage_tests' %}" class="btn btn-navbar-purple">View Active Tests</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 py-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total Questions</h5>
                <p class="card-text fs-1">{{ total_questions }}</p>
                <a href="{% url 'admin_manage_questions' %}" class="btn btn-navbar-purple">Manage Questions</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 py-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total Employees</h5>
                <p class="card-text fs-1">{{ total_employees }}</p>
                <a href="{% url 'admin:employee_employeeprofile_changelist' %}" class="btn btn-navbar-purple">Manage Employees</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 py-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Completed Attempts</h5>
                <p class="card-text fs-1">{{ completed_exam_attempts }}</p>
                <a href="{% url 'admin_view_all_exam_results' %}" class="btn btn-navbar-purple">View All Results</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
